.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
/.idea/.gitignore
/.idea/heat-control-v2.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/CMakeLists.txt
/CMakeListsPrivate.txt
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-a9b995e5701641c4b71a.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-e2553edc836a37d86053.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-ad9b4051416e7e38a131.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/.cmake/api/v1/reply/index-2023-01-09T07-52-19-0520.json
/cmake-build-debug/.cmake/api/v1/reply/target-Debug-Debug-10255051cea920044ced.json
/cmake-build-debug/.cmake/api/v1/reply/target-Production-Debug-59dee6b3be6979191108.json
/cmake-build-debug/.cmake/api/v1/reply/target-Z_DUMMY_TARGET-Debug-36cb11921ceee5097c78.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-766ae1646ee5de73bd3f.json
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.24.2/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.24.2/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.24.2/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdC/a.exe
/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdCXX/a.exe
/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/CMakeFiles/CMakeError.log
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/CMakeRuleHashes.txt
/cmake-build-debug/CMakeFiles/Debug.dir/DependInfo.cmake
/cmake-build-debug/CMakeFiles/Debug.dir/build.make
/cmake-build-debug/CMakeFiles/Debug.dir/cmake_clean.cmake
/cmake-build-debug/CMakeFiles/Debug.dir/compiler_depend.make
/cmake-build-debug/CMakeFiles/Debug.dir/compiler_depend.ts
/cmake-build-debug/CMakeFiles/Debug.dir/progress.make
/cmake-build-debug/CMakeFiles/Makefile.cmake
/cmake-build-debug/CMakeFiles/Makefile2
/cmake-build-debug/CMakeFiles/Production.dir/DependInfo.cmake
/cmake-build-debug/CMakeFiles/Production.dir/build.make
/cmake-build-debug/CMakeFiles/Production.dir/cmake_clean.cmake
/cmake-build-debug/CMakeFiles/Production.dir/compiler_depend.make
/cmake-build-debug/CMakeFiles/Production.dir/compiler_depend.ts
/cmake-build-debug/CMakeFiles/Production.dir/progress.make
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/CMakeFiles/Z_DUMMY_TARGET.dir/DependInfo.cmake
/cmake-build-debug/CMakeFiles/Z_DUMMY_TARGET.dir/build.make
/cmake-build-debug/CMakeFiles/Z_DUMMY_TARGET.dir/cmake_clean.cmake
/cmake-build-debug/CMakeFiles/Z_DUMMY_TARGET.dir/compiler_depend.make
/cmake-build-debug/CMakeFiles/Z_DUMMY_TARGET.dir/compiler_depend.ts
/cmake-build-debug/CMakeFiles/Z_DUMMY_TARGET.dir/depend.make
/cmake-build-debug/CMakeFiles/Z_DUMMY_TARGET.dir/flags.make
/cmake-build-debug/CMakeFiles/Z_DUMMY_TARGET.dir/link.txt
/cmake-build-debug/CMakeFiles/Z_DUMMY_TARGET.dir/progress.make
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/progress.marks
/cmake-build-debug/Makefile
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/heat-control-v2.cbp
/cmake-build-esp12e/.cmake/api/v1/query/cache-v2
/cmake-build-esp12e/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-esp12e/.cmake/api/v1/query/codemodel-v2
/cmake-build-esp12e/.cmake/api/v1/query/toolchains-v1
/cmake-build-esp12e/.cmake/api/v1/reply/cache-v2-b858b6c35e12e8686827.json
/cmake-build-esp12e/.cmake/api/v1/reply/cmakeFiles-v1-337ac795d2570277ecc9.json
/cmake-build-esp12e/.cmake/api/v1/reply/codemodel-v2-879bde67ac84810ae8ba.json
/cmake-build-esp12e/.cmake/api/v1/reply/directory-.-esp12e-d0094a50bb2071803777.json
/cmake-build-esp12e/.cmake/api/v1/reply/index-2023-01-09T07-52-26-0886.json
/cmake-build-esp12e/.cmake/api/v1/reply/target-Debug-esp12e-dcc33f5e1ed76eda70a3.json
/cmake-build-esp12e/.cmake/api/v1/reply/target-Production-esp12e-9427083a9db476ce942b.json
/cmake-build-esp12e/.cmake/api/v1/reply/target-Z_DUMMY_TARGET-esp12e-e0ef8f6e9724d51c1469.json
/cmake-build-esp12e/.cmake/api/v1/reply/toolchains-v1-766ae1646ee5de73bd3f.json
/cmake-build-esp12e/CMakeCache.txt
/cmake-build-esp12e/CMakeFiles/3.24.2/CMakeCCompiler.cmake
/cmake-build-esp12e/CMakeFiles/3.24.2/CMakeCXXCompiler.cmake
/cmake-build-esp12e/CMakeFiles/3.24.2/CMakeSystem.cmake
/cmake-build-esp12e/CMakeFiles/3.24.2/CompilerIdC/CMakeCCompilerId.c
/cmake-build-esp12e/CMakeFiles/3.24.2/CompilerIdC/a.exe
/cmake-build-esp12e/CMakeFiles/3.24.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-esp12e/CMakeFiles/3.24.2/CompilerIdCXX/a.exe
/cmake-build-esp12e/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-esp12e/CMakeFiles/CMakeError.log
/cmake-build-esp12e/CMakeFiles/CMakeOutput.log
/cmake-build-esp12e/CMakeFiles/CMakeRuleHashes.txt
/cmake-build-esp12e/CMakeFiles/Debug.dir/DependInfo.cmake
/cmake-build-esp12e/CMakeFiles/Debug.dir/build.make
/cmake-build-esp12e/CMakeFiles/Debug.dir/cmake_clean.cmake
/cmake-build-esp12e/CMakeFiles/Debug.dir/compiler_depend.make
/cmake-build-esp12e/CMakeFiles/Debug.dir/compiler_depend.ts
/cmake-build-esp12e/CMakeFiles/Debug.dir/progress.make
/cmake-build-esp12e/CMakeFiles/Makefile.cmake
/cmake-build-esp12e/CMakeFiles/Makefile2
/cmake-build-esp12e/CMakeFiles/Production.dir/DependInfo.cmake
/cmake-build-esp12e/CMakeFiles/Production.dir/build.make
/cmake-build-esp12e/CMakeFiles/Production.dir/cmake_clean.cmake
/cmake-build-esp12e/CMakeFiles/Production.dir/compiler_depend.make
/cmake-build-esp12e/CMakeFiles/Production.dir/compiler_depend.ts
/cmake-build-esp12e/CMakeFiles/Production.dir/progress.make
/cmake-build-esp12e/CMakeFiles/TargetDirectories.txt
/cmake-build-esp12e/CMakeFiles/Z_DUMMY_TARGET.dir/DependInfo.cmake
/cmake-build-esp12e/CMakeFiles/Z_DUMMY_TARGET.dir/build.make
/cmake-build-esp12e/CMakeFiles/Z_DUMMY_TARGET.dir/cmake_clean.cmake
/cmake-build-esp12e/CMakeFiles/Z_DUMMY_TARGET.dir/compiler_depend.make
/cmake-build-esp12e/CMakeFiles/Z_DUMMY_TARGET.dir/compiler_depend.ts
/cmake-build-esp12e/CMakeFiles/Z_DUMMY_TARGET.dir/depend.make
/cmake-build-esp12e/CMakeFiles/Z_DUMMY_TARGET.dir/flags.make
/cmake-build-esp12e/CMakeFiles/Z_DUMMY_TARGET.dir/link.txt
/cmake-build-esp12e/CMakeFiles/Z_DUMMY_TARGET.dir/objects1.rsp
/cmake-build-esp12e/CMakeFiles/Z_DUMMY_TARGET.dir/progress.make
/cmake-build-esp12e/CMakeFiles/clion-environment.txt
/cmake-build-esp12e/CMakeFiles/clion-esp12e-log.txt
/cmake-build-esp12e/CMakeFiles/cmake.check_cache
/cmake-build-esp12e/CMakeFiles/progress.marks
/cmake-build-esp12e/Makefile
/cmake-build-esp12e/Testing/Temporary/LastTest.log
/cmake-build-esp12e/cmake_install.cmake
/cmake-build-esp12e/heat-control-v2.cbp
/.vscode
/*.code-workspace
/.travis.yml
/!prebuilt
